
    :root {
      --ds-icon-sortering: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M19%2016H11M18%2012H11M16%208.00001H11M6.99998%2018.5L6.99998%207M9%2017L7%2019L5%2017%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-icon-icon-sortering::before {
      background-image: var(--ds-icon-sortering);
    }
  