
    :root {
      --ds-icon-document: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M13.5%205V9H17.5M15%2013H9M15%2016H9M10.5%2010H9M13.6364%205H7.5C7.10218%205%206.72064%205.1475%206.43934%205.41005C6.15804%205.6726%206%206.0287%206%206.4V17.6C6%2017.9713%206.15804%2018.3274%206.43934%2018.5899C6.72064%2018.8525%207.10218%2019%207.5%2019H16.5C16.8978%2019%2017.2794%2018.8525%2017.5607%2018.5899C17.842%2018.3274%2018%2017.9713%2018%2017.6V9L13.6364%205Z%22%20stroke%3D%22hsl(186%2C100%25%2C33%25)%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-icon-icon-document::before {
      background-image: var(--ds-icon-document);
    }
  