
    :root {
      --ds-map-icon-sted: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20class%3D%22ds-svg-icon%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%226%22%20stroke%3D%22hsl(186%2C100%25%2C33%25)%22%2F%3E%3C%2Fsvg%3E');
    }
    .ds-icon-map-icon-sted::before {
      background-image: var(--ds-map-icon-sted);
    }
  