
    :root {
      --ds-map-icon-koordinater: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M9%205L9%2019%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M15%205L15%2019%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M19%209L5%209%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3Cpath%20d%3D%22M19%2015L5%2015%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-map-icon-koordinater::before {
      background-image: var(--ds-map-icon-koordinater);
    }
  