
    :root {
      --ds-map-icon-move: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20class%3D%22ds-svg-icon%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M18.364%209.87861L20.4853%2011.9999M20.4853%2011.9999L18.364%2014.1212M20.4853%2011.9999H12M5.63604%2014.1212L3.51472%2011.9999M3.51472%2011.9999L5.63604%209.87861M3.51472%2011.9999H12M12%2011.9999V20.4852M12%2011.9999L12%203.51465M14.1213%2018.3639L12%2020.4852M12%2020.4852L9.87868%2018.3639M9.87868%205.63597L12%203.51465M12%203.51465L14.1213%205.63597%22%20stroke%3D%22hsl(186%2C100%25%2C33%25)%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
    }
    .ds-icon-map-icon-move::before {
      background-image: var(--ds-map-icon-move);
    }
  