
    :root {
      --ds-map-icon-vej: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M5.5%2010C5.5%209.72386%205.27614%209.5%205%209.5C4.72386%209.5%204.5%209.72386%204.5%2010L5.5%2010ZM4.5%2014C4.5%2014.2761%204.72386%2014.5%205%2014.5C5.27614%2014.5%205.5%2014.2761%205.5%2014H4.5ZM19.5%2010C19.5%209.72386%2019.2761%209.5%2019%209.5C18.7239%209.5%2018.5%209.72386%2018.5%2010H19.5ZM18.5%2014C18.5%2014.2761%2018.7239%2014.5%2019%2014.5C19.2761%2014.5%2019.5%2014.2761%2019.5%2014H18.5ZM5%2012.5H19V11.5H5V12.5ZM4.5%2010L4.5%2014H5.5L5.5%2010L4.5%2010ZM18.5%2010V14H19.5V10H18.5Z%22%20fill%3D%22black%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-map-icon-vej::before {
      background-image: var(--ds-map-icon-vej);
    }
  