
    :root {
      --ds-icon-print: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7%2010V4H17V10M7%2016H5.6C5.17565%2016%204.76869%2015.8595%204.46863%2015.6095C4.16857%2015.3594%204%2015.0203%204%2014.6667V11.3333C4%2010.9797%204.16857%2010.6406%204.46863%2010.3905C4.76869%2010.1405%205.17565%2010%205.6%2010H18.4C18.8243%2010%2019.2313%2010.1405%2019.5314%2010.3905C19.8314%2010.6406%2020%2010.9797%2020%2011.3333V14.6667C20%2015.0203%2019.8314%2015.3594%2019.5314%2015.6095C19.2313%2015.8595%2018.8243%2016%2018.4%2016H17M7%2013H17V19H7V13Z%22%20stroke%3D%22hsl(186%2C100%25%2C33%25)%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20fill%3D%22none%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-icon-print::before {
      background-image: var(--ds-icon-print);
    }
  