
    :root {
      --ds-sider-icon-map: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M14%2018L10%2016L6.00003%2018L6%207.99999L10%206M14%2018L18%2015.6V6L14%207.99999M14%2018V7.99999M14%207.99999L10%206M10%206V15.6%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-icon-sider-icon-map::before {
      background-image: var(--ds-sider-icon-map);
    }
  