
    :root {
      --ds-sider-icon_cases: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0A%3Cpath%20d%3D%22M6.5%2014H6.07143C5.47969%2014%205%2013.5635%205%2013.025V4.975C5%204.43652%205.40827%204%206%204H12C12.5917%204%2013%204.43652%2013%204.975V5.5M9.5%2017H9.07143C8.47969%2017%208%2016.5635%208%2016.025V7.975C8%207.43652%208.40827%207%209%207H15C15.5917%207%2016%207.43652%2016%207.975V8.5M12.1429%2010H17.8571C18.4883%2010%2019%2010.4477%2019%2011V19C19%2019.5523%2018.4883%2020%2017.8571%2020H12.1429C11.5117%2020%2011%2019.5523%2011%2019V11C11%2010.4477%2011.5117%2010%2012.1429%2010Z%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
    }
    .ds-sider-icon_cases::before {
      background-image: var(--ds-sider-icon_cases);
    }
  