@SDFIdk:registry=https://npm.pkg.github.com
//npm.pkg.github.com:_authToken=${secrets.GITHUB_TOKEN}

@dataforsyningen-user:registry=https://registry.npmjs.org
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
