
@import "./css/hentdata_icon_choose.svg";
  
@import "./css/hentdata_icon_download.svg";
  
@import "./css/hentdata_icon_exitsite.svg";
  
@import "./css/hentdata_icon_get.svg";
  
@import "./css/hentdata_icon_pending.svg";
  
@import "./css/icon_besked.svg";
  
@import "./css/icon_burgerbar.svg";
  
@import "./css/icon_calendar.svg";
  
@import "./css/icon_checkbox.svg";
  
@import "./css/icon_clipboard.svg";
  
@import "./css/icon_close.svg";
  
@import "./css/icon_code.svg";
  
@import "./css/icon_copy.svg";
  
@import "./css/icon_crosshair.svg";
  
@import "./css/icon_document.svg";
  
@import "./css/icon_drift.svg";
  
@import "./css/icon_dropdown.svg";
  
@import "./css/icon_edit.svg";
  
@import "./css/icon_eye.svg";
  
@import "./css/icon_faq.svg";
  
@import "./css/icon_fullscreen.svg";
  
@import "./css/icon_github.svg";
  
@import "./css/icon_inbox.svg";
  
@import "./css/icon_info.svg";
  
@import "./css/icon_lock.svg";
  
@import "./css/icon_mail.svg";
  
@import "./css/icon_manual.svg";
  
@import "./css/icon_minus.svg";
  
@import "./css/icon_more.svg";
  
@import "./css/icon_moremore.svg";
  
@import "./css/icon_notification.svg";
  
@import "./css/icon_ok.svg";
  
@import "./css/icon_phone.svg";
  
@import "./css/icon_plus.svg";
  
@import "./css/icon_print.svg";
  
@import "./css/icon_radiobutton.svg";
  
@import "./css/icon_rotate.svg";
  
@import "./css/icon_search.svg";
  
@import "./css/icon_share.svg";
  
@import "./css/icon_sortering.svg";
  
@import "./css/icon_stack.svg";
  
@import "./css/icon_support.svg";
  
@import "./css/icon_thrash.svg";
  
@import "./css/icon_token.svg";
  
@import "./css/icon_users.svg";
  
@import "./css/map_icon_adresse.svg";
  
@import "./css/map_icon_download_gridvalg.svg";
  
@import "./css/map_icon_download_listvalg.svg";
  
@import "./css/map_icon_download_polygonareal.svg";
  
@import "./css/map_icon_download_tegnetareal.svg";
  
@import "./css/map_icon_findonmap.svg";
  
@import "./css/map_icon_koordinater.svg";
  
@import "./css/map_icon_move.svg";
  
@import "./css/map_icon_nordpil.svg";
  
@import "./css/map_icon_ruler.svg";
  
@import "./css/map_icon_sted.svg";
  
@import "./css/map_icon_vej.svg";
  
@import "./css/sider_icon_accessibility.svg";
  
@import "./css/sider_icon_apps.svg";
  
@import "./css/sider_icon_cases.svg";
  
@import "./css/sider_icon_data.svg";
  
@import "./css/sider_icon_drift.svg";
  
@import "./css/sider_icon_english.svg";
  
@import "./css/sider_icon_help.svg";
  
@import "./css/sider_icon_lab.svg";
  
@import "./css/sider_icon_map.svg";
  
@import "./css/sider_icon_news.svg";
  
@import "./css/sider_icon_privatliv.svg";
  
@import "./css/sider_icon_terms.svg";
  
@import "./css/sider_icon_user.svg";
  
@import "./css/some_linkedin.svg";
  
@import "./css/some_trello.svg";
  
@import "./css/logo-micro.svg";
  
@import "./css/logo-normal-graa.svg";
  
@import "./css/logo-normal-hvid.svg";
  
@import "./css/logo-normal-sort.svg";
  
@import "./css/logo-normal-tyrkis-graa.svg";
  
@import "./css/logo-normal-tyrkis.svg";
  
@import "./css/logo-simple-micro.svg";
  